
<head>
    <meta charset="UTF-8">
    
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

  <div class="sidebar">
    <ul class="nav-list">
    
     
      <li>
       <a routerLink="./Lists" routerLinkActive="active">
         <i class='bx bx-plus-medical' ></i>
         <span class="links_name">Games</span>
       </a>
      
     </li>
     

    
     <li class="profile">
         <div class="profile-details">
           <img src="..." alt="profileImg">
           <div class="name_job">
             <div class="name">User Name</div>
           </div>
         </div>
         
         <i class='bx bx-log-out' id="log_out"  ></i>
     </li>
    </ul>
  </div>
  
  <h1>{{ apiData.Title }}</h1>
 


